* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button-tab {
    margin: 10px 0;
    display: flex;
    gap: 10px;
    width: 100%;
}

.container {
    margin-bottom: 10px;
}

.pagination {
    margin-top: 10px;
}
